:root  {
  --ratio1440:calc(100vw / 1440);
  --ratio768:calc(100vw / 768);
}
*{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  color: #787878;
  box-sizing: border-box;
}
*::placeholder{
  color: #CCCCCC;}
body  {
  margin: 0;
  padding: 0;
}
.body-container {
  width: 100%;
}
a { text-decoration: none;
} 
a:hover { 
  text-shadow: 4px 4px 8px rgb(255, 255, 255) ;
}
.header__side  {
  display: flex;
  align-content: center;
}
.header-side__head  {
  display:flex;
  flex-direction: column;
  width:100%;
  margin: 0;
  font-family: 'Inter';
}
.header-side__head_item  {
  width: 100%;
  margin: 0;
  align-self: center;
  font-family: 'Inter';
}
.header-side__item  {
  align-self: center;
  font-family: 'Inter';
  font-size: 1.5vw;
  text-decoration: none;
  justify-self: left;
  margin-left:1vw;
  margin-right:1.5vw;  
  width:7vw;
}
.header-side__item_input{
  font-family: 'Inter';
  outline :none;
  font-size: 1.5vw;
  width:12vw;
}
.footer {
  background-color: lightgray;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5vw;
  width: 100%;
  height: 6vw;
  text-align:center;
}
.footer__block{
  font-size:2vw;
  text-align: enter;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly
}
.common__button {
  z-index: 15;
  padding: 1%;
  align-self: center;
  justify-self: center;
  border-radius: 0.75vw;
  border: 0.2vw solid;
  border-color: #787878;
  width: 20vw;
  background-color: lightslategray;
  font-size: 2vw;
  color: aliceblue;
}
.common__button_9{
  width:9%;
}
.common__button_6{
  width:6%;
}
.common__button_29{
  width:29%;
}
.common__button_36{
  width:36%;
}
.common__button_large-card{
  margin-top: 2vw;
  margin-bottom: 2vw;
  width:25vw
}
.common__button_basket {
  margin-left: 0.5%;
  margin-right:0.5%;
  font-size: 1.2vw;
  line-height: 1.2vw;
}
.common__button:hover {
  border-color: lime;
  background-color: maroon;
}
.basket__buttons-row{
  width:100%;
  padding-left:2%;
  padding-right:2%; 
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.large-card__main-block{
  display:flex;;
  flex-direction:column;;
  padding-left:3vw;;
  padding-right:3vw;
}
.large-card__main-block-image{
  width:30vw;
  padding-left:3vw;
  padding-right:3vw;
  align-self:center; 
}
.large-card__main-block_internal-block{
  width:100%;
  display:flex;
  flex-direction:column;
}
.large-card__internal-block_info-block{
  width:100%;
  display:flex;
  flex-direction:row;
}
.large-card__info-block{
  font-size:2vw;
  text-align:left;
}
.large-card__info-block_caption{
  width:30%;
}
.large-card__info-block_content{
  width:70%;
}
.main__cards-area {
  margin-top: 1vw;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5vh;
  column-gap: 4vw; 
}
.card-main {
  padding: 1vh;
  position: relative;
  display: flex;
  width: 40vw;
  flex-direction: row;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #c8ffe4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card-pic {
  width: 18.5%;
  background-size: 50% 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}
.card-title__title {
  padding: 2%;
  align-self: center;
  justify-self: center;
  font-size: 1.5vw;
  line-height: 1.5vw;
}

.card-title__price {
  padding: 0.5%;
  background: rgba(253, 174, 186, 0.774);
  writing-mode: vertical-rl;
  display: block;
  text-orientation: sideways;
  width: 5%;
  height: 36vw;
  font-size: 2vw;
  line-height: 2vw;
}
.card-title__price_sale {
  background: rgba(123, 247, 119, 0.774);
}

.card__info{
  width: 90%;
  display: flex;
  justify-content: space-between;
  /*align-items: stretch;*/
  flex-direction: column;
}

.header  {
  display: flex;
  justify-content: space-between;
  height: 6vw;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header_search  {
  background-color:white;
  z-index: 10;
  position:sticky;
  top:0px
}
.main  {
  background: #FFFFFF;
}
.main__form  {
  display: flex;
  flex-direction: column;
  padding: 26px 45px 37px;
  border: none;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
#file  {
  position: relative;
  opacity: 0;
  z-index: 20;
}
.main-form__file{
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-form__fileload{
  margin-bottom: 1vw;
  font-size: 2vw;
  line-height: 2vw;
  align-self: flex-start;
  opacity: 1;
  z-index: 0;
  position: absolute;
  left:0px;
  border:none;
  border-color: white;
}
.main-form__fileload_label{
  top: 0.5vw;
}
.main-form__caption  {
  align-self: flex-start;
}
.main-form__caption_big  {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 3vw;
  line-height: 3vw;
}
.main-form__caption_small  {
  margin-top: 11px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
}
.main-form__label  {
  margin-top: 11px;
  font-size: 16px;
  line-height: 16px;
}  
.main-form__label-div  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}  
.main-form__label_entrance  {
  margin-bottom: 3px;}  
.main-form__label_registration  {
  position: relative;
  margin-bottom: 5px;
}
.main-form__label-registration_right  {
  color: #EE2424;
}
 .main-form__label_radio  {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
} 
 .main-form__label_checkbox  {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
} 
.main-form__input  {
  align-self: stretch;
  height: 49px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 15px;
  font-size: 28px;
  line-height: 36px;
  border: 1px solid #787878;
  outline-color: black;
}  
.main-form__button  {
  align-self: center;
  margin-top: 52px;
  width: 180px;
  height: 52px;
  line-height: 36px;
  font-size: 24px;
  background: #787878;
  border: none;
  color: #FFFFFF;
} 
.main-form__button_entrance  {
  margin-top: 52px;
}
.main-form__button_registration  {
  margin-top: 56px;
}
.main-form__textarea  {
  align-self: stretch;
  resize: none;
  height: 246px;
  margin-bottom: 24px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 15px;
  font-size: 28px;
  line-height: 36px;
  border: 1px solid #787878;
  outline-color: black;
}
.main-form__checkbox{
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-form__radiogroup  {
  display: flex;
  flex-direction: column;
}  
.main-form__radioitem  {
  position: relative;  
  display: flex;
  flex-direction: row;
}  
#margin9  {
  margin-bottom: 9px;
}
.main-form__radiogroup input  {
  position: relative;
  width: 55px;
  height: 20px;
  margin: 0;
  opacity: 0;
  z-index: 20;
}
.main-form__radiogroup label::before  {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  border: 2px solid #787878;
  border-radius: 50%;
  height:20px; 
  width: 20px;
}
.main-form__radiogroup label  {
  position: absolute;
  padding-left: 24px;
}
.main-form__radiogroup input:checked + label::after  {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 4px;
  top: 4px;
  background-color: #787878;
  height:12px; 
  width: 12px;
}
.main-form__checkbox input  {
  position: relative;
  width: 13.5vw;
  height: 24px;
  margin: 0;
  opacity: 0;
  z-index: 20;
}
.main-form__checkbox label::before  {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  border: 2px solid #787878;
  height:24px; 
  width: 24px;
}
.main-form__checkbox label  {
  position: absolute;
  padding-left: 30px;
}
.main-form__checkbox input:checked + label::after  {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  background-color: #787878;
  height:12px; 
  width: 12px;
}
@media screen and  (min-width: 769px)  {
.main__form_entrance  {
  margin-top: calc(125px - 125 * 0.77 * (1px - min(var(--ratio1440),1px))); 
  margin-left: calc(437px - 437 * 1.734 * (1px - min(var(--ratio1440),1px)));  
  margin-bottom: calc(233px + 233 * 0.415 * (1px - min(var(--ratio1440),1px))); 
  margin-right: calc(408px - 408 * 1.704 * (1px - min(var(--ratio1440),1px)));
}  
.main__form_registration  {
  margin-top: calc(100px - 100 * 0.429 * (1px - min(var(--ratio1440),1px))); 
  margin-left: calc(420px - 420 * 1.717 * (1px - min(var(--ratio1440),1px)));  
  margin-bottom: calc(233px + 233 * 0.415 * (1px - min(var(--ratio1440),1px))); 
  margin-right: calc(420px - 420 * 1.717 * (1px - min(var(--ratio1440),1px)));
}
}  
@media screen and  (max-width: 768px)  {

.header-side__item_entrance  {
  margin-right: calc(var(--ratio768) * 28);
}
.header-side__item_registration  {
  margin-right: calc(var(--ratio768) * 36);
}
.card-main {
  width:84vw;
}
.main__form  {
  margin: calc(var(--ratio768) * 80) calc(var(--ratio768) * 84) calc(var(--ratio768) * 278) calc(var(--ratio768) * 84);
  padding: calc(var(--ratio768) * 26) calc(var(--ratio768) * 45) calc(var(--ratio768) * 37);}
.main-form__caption_big  {
  font-size: 3vw;
  line-height: 3vw;
}
.main-form__caption_small  {
  margin-top: calc(11 * var(--ratio768));
  margin-bottom: calc(5 * var(--ratio768));
  line-height: calc(16 * var(--ratio768));  
  font-size: calc(16 * var(--ratio768));
}  
.main-form__label  {
  margin-top: calc(11 * var(--ratio768));
  height: calc(16 * var(--ratio768));
  font-size: calc(16 * var(--ratio768));
  line-height: calc(16 * var(--ratio768));
}  
.main-form__label_entrance  {
  margin-bottom: calc(3 * var(--ratio768));
}
.main-form__label_registration  {
  margin-bottom: calc(5 * var(--ratio768));}  
.main-form__label_registration_left  {
  left: calc(-11 * var(--ratio768));
}
.main-form__label_radio  {
  font-weight: 400;
  font-size: calc(14 * var(--ratio768));
  line-height: calc(20 * var(--ratio768));
}  
.main-form__label_checkbox  {
  font-weight: 400;
  font-size: calc(14 * var(--ratio768));
  line-height: calc(24 * var(--ratio768));
}  
.main-form__input  {
  height: calc(49 * var(--ratio768));
  padding-top: calc(7 * var(--ratio768));
  padding-bottom: calc(6 * var(--ratio768));
  padding-left: calc(15 * var(--ratio768));
  font-size: calc(28 * var(--ratio768));
  line-height: calc(36 * var(--ratio768));
} 
.main-form__textarea  {
  height: calc(246 * var(--ratio768));
  padding-top: calc(7 * var(--ratio768));
  padding-bottom: calc(6 * var(--ratio768));
  padding-left: calc(15 * var(--ratio768));
  font-size: calc(28 * var(--ratio768));
  line-height: calc(36 * var(--ratio768));
} 
.main-form__button  {
  align-self: center;
  margin-top: calc(52 * var(--ratio768));
  width: calc(180 * var(--ratio768));
  height: calc(52 * var(--ratio768));
  font-size: calc(24 * var(--ratio768));
  line-height: calc(36 * var(--ratio768));  
  background: #787878;
  border: none;
  color: #FFFFFF;
} 
.main-form__checkbox input  {
  height: calc(24 * var(--ratio768));
}
.main-form__checkbox label::before  {
  border: calc(2 * var(--ratio768)) solid #787878;
  height:calc(24 * var(--ratio768)); 
  width: calc(24 * var(--ratio768));
}
.main-form__checkbox label  {
  padding-left: calc(30 * var(--ratio768));
}
.main-form__checkbox input:checked + label::after  {
  left: calc(6 * var(--ratio768));
  top: calc(6 * var(--ratio768));
  height:calc(12 * var(--ratio768)); 
  width: calc(12 * var(--ratio768));
}
#margin9  {
  margin-bottom: calc(9 * var(--ratio768));
}  
.main-form__radiogroup input  {
  width: calc(55 * var(--ratio768));
  height: calc(20 * var(--ratio768));
}
.main-form__radiogroup label::before  {
  border: calc(2 * var(--ratio768)) solid #787878;
  height:calc(20 * var(--ratio768)); 
  width: calc(20 * var(--ratio768));
}
.main-form__radiogroup label  {
  position: absolute;
  padding-left: calc(24 * var(--ratio768));
}

.main-form__radiogroup input:checked + label::after  {
  left: calc(4 * var(--ratio768));
  top: calc(4 * var(--ratio768));
  height:calc(12 * var(--ratio768)); 
  width: calc(12 * var(--ratio768));
}
}
.common__text{
  font-size:1.5vw;
  margin:0.5vw;
}
.common__text_margin{
  margin:0.5vw;
}
.common__text_small{
  font-size:1vw;
}
.common__text_middle{
  font-size:2vw;
}
.common__text_big{
  font-size:2.5vw;
}
.common__text_extra{
  font-size:3vw;
}